/* Incluyo la fuente desde google */
@-webkit-keyframes shadow-drop-tr{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:12px -12px 20px -12px rgba(0,0,0,.35);box-shadow:12px -12px 20px -12px rgba(0,0,0,.35)}}@keyframes shadow-drop-tr{0%{-webkit-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}100%{-webkit-box-shadow:12px -12px 20px -12px rgba(0,0,0,.35);box-shadow:12px -12px 20px -12px rgba(240, 225, 20, 0.89)}}

body {
  font-family: sans-serif;
  margin: auto;
  background-color: #a2d9b3;
}

/* Foro */
.Button_Foro{
  background-color: #31784d;
  color: #ddd67e;
}
.Button_Foro:hover{
  background-color: #4c684d   ;
  color: #3ef35cbd;
  border: 1px solid #54ff62 ;
}
.Mensaje{
  display: flex;
  flex-direction: row;
}
.Boton_Editar{
  margin-left: 1rem;
  font-size: 10px;
  width: 60px;
  height: 28px;
  background-color: #31784d;
  color: #ddd67e;
}
.Boton_Editar:hover{
  background-color: #4c684d   ;
  color: #3ef35cbd;
  border: 1px solid #54ff62 ;
}
.Boton_Eliminar{
  margin-left: 1rem;
  font-size: 10px;
  width: 65px;
  height: 28px;
  background-color: #31784d;
  color: #ddd67e;
}
.Boton_Eliminar:hover{
  background-color: #4c684d   ;
  color: #3ef35cbd;
  border: 1px solid #54ff62 ;
}
.message-forum{
  width: 58rem;
  background-color: #a2be66;
  border: 1px solid #7cff64ad;
  font-family: 'Gentium Book Plus', serif;
  color: #181816;
}
.message-forum:hover {
  -webkit-animation: shadow-drop-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: shadow-drop-tr 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.container-fluid{
  width: 100%;
  padding-right: var(--bs-gutter-x,0rem); 
  padding-left: var(--bs-gutter-x,0rem); 
  --bs-gutter-x: -1.5rem;
  margin-right: auto;
  margin-left: auto;
}
.main-section-write-card , .main-section-presentation-card{
color: rgb(0, 0, 0);
background-color: #276607af;
border-radius: 0;
margin: 10px;
padding: 10px;
}
.Titulo_Pregunta{
font-family: 'Gentium Book Plus', serif;
font-size: 2rem;
text-align: center;
color: #ddd67e;
}

.gift{
  height: 435px;
  width: auto;
}
/* Inicio Sesion */
.col-login{
  margin-top: 10px;
  padding: 10px;
  background-color:   #276607af;
  color: rgb(0, 0, 0);
}
/* Registro */
.col-register{
  margin-top: -26px;
  padding: 10px;
  background-color:    #276607af;
  color:  #000000;
}
.form-label{
  font-family: 'Gentium Book Plus', serif;
}
.form-control{
  background-color: #dbe18299;;
  border: 1px solid #2bff04ad;
}
.form-control:focus{
  background-color: #cfda3e99;
}
.btn-secondary{
  background-color: #31784d;
  color: #ffffff;
}
.btn-secondary:hover{
  background-color: #4c684d;
  color: #3ef35cbd;
  border: 1px solid #54ff62;
}
::placeholder {
  font-family: 'Gentium Book Plus', serif;
}
/* Navvar */
.navbar {
  background-color: #345640;
  border-radius: 2px;
  flex-direction: row-reverse;
}
.Titulo_Navvar{
  font-family: 'Gentium Book Plus', serif;
  color: #ddd67e;
}
.nav-item{
list-style: none;
}
.navbar a {
  color: #ddd67e;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}
.dropdown-menu a:hover{
  background-color: #787a79   ;
  border: 1px solid #458b4b ;
}
.navbar a:hover {
  color: #43c54e;
}  
/* Footer */
footer{
  background-color: #09530c;
  color: #ddd67e;
  position: fixed;
  bottom: 0;
}
.footer{
  text-align: center;
  background-color: #4a704b;
}